*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: "Lato", sans-serif;
background-color: #000;
color:#fff;
}

a{
text-decoration: none;
color: #fff;
}

.container{
border: 1px solid;
max-width: 480px;
margin: 0 auto;
min-height: 100vh;
padding-bottom: 130px;
}

.center {
display: flex;
justify-content: center;
align-items: center;
}
.shadow {
box-shadow: 1px 1px 5px 0px rgb(255 255 255 / 45%);
}

/* ---------Scroll bar--------- */

.category::-webkit-scrollbar {
width: 100px !important;
}
/* Chrome */
.category::-webkit-scrollbar {
  width: 4px !important;
}

.category::-webkit-scrollbar-track {
  background: transparent; 
}

.category::-webkit-scrollbar-thumb {
  background: #4d4d4d; 
  border-radius: 20px;
}

.category::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d; 
}

